* {
  font-family: "Lato";
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #141414;
}

header {
  background-color: black;
  display: flex;
  align-items: center;
}

input {
  padding: 7px;
  margin: 20px;
  border: 1px solid white;
  background-color: black;
  color: white;
  outline: none;
  width: 200px;
}

header img {
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
li {
  margin: 20px;
}
li p {
  color: white;
}


.cover {
  border: 2px solid white;
}
