* {
  font-family: "Helvetica";
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #141414;
  overflow-x: hidden;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* header */
header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
input {
  padding: 7px;
  margin: 20px;
  border: 1px solid white;
  background-color: black;
  color: white;
  outline: none;
  width: 200px;
}
header img {
  height: 35px;
  margin-left: 20px;
  margin-right: 20px;
}

/* main */
h1 {
  color: white;
  margin-top: 50px;
}
ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
li {
  margin: 20px;
}
li p {
  color: white;
}

/* cover */
.cover {
  position: relative;
  transition: 1s;
  margin-top: 20px;
  margin-bottom: 20px;
}
.poster img {
  border: 4px solid white;
}
.cover:hover {
  transition: 0.2s;
  transition: 1s ease;
  transform: scale(1.1);
  box-shadow: 10px 10px 5px black;
}
.cover:hover .info {
  opacity: 1;
  transition: 1s;
}

/* info */
.info {
  opacity: 0;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}
.info p {
  padding-left: 20px;
  padding-right: 20px;
}
.info img {
  padding-left: 20px;
}
.title {
  margin-left: 60px;
}
i {
  color: white;
  font-size: 20px;
}
i:hover {
  color: grey;
  transition: 0.2s;
}
.search {
  border: none;
  border-bottom: 3px solid white;
  width: 150px;
  font-size: 15px;
}
.nav-left {
  display: flex;
  align-items: center;
}
.nav-left a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
}
.nav-left a:hover {
  color: grey;
  transition: 0.2s;
}
.nav-right {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.nav-right i {
  margin-left: 30px;
}
.fa-sort-down {
  padding-bottom: 10px;
}

#container {
  overflow: scroll;
  overflow: hidden;
  width: 100%;
}
#container2 {
  overflow: scroll;
  overflow: hidden;
  width: 100%;
}

#slideBack {
  position: absolute;
  margin-top: 150px;
  left: 0;
  opacity: 0;
  height: 300px;
  width: 150px;
  border: none;
  transition: 1s;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
#slideBack i {
  font-size: 50px;
}
#slideBack:hover {
  display: block;
  opacity: 1;
  transition: 0.2s;
}
#slide {
  position: absolute;
  margin-top: 150px;
  right: 0;
  opacity: 0;
  height: 300px;
  width: 150px;
  border: none;
  transition: 1s;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
#slide i {
  font-size: 50px;
}
#slide:hover {
  display: block;
  opacity: 1;
  transition: 0.2s;
  background-color: rgba(0, 0, 0, 0.8);
}



#slideBack2 {
  position: absolute;
  margin-top: 150px;
  left: 0;
  opacity: 0;
  height: 300px;
  width: 150px;
  border: none;
  transition: 1s;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
#slideBack2 i {
  font-size: 50px;
}
#slideBack2:hover {
  display: block;
  opacity: 1;
  transition: 0.2s;
}
#slide2 {
  position: absolute;
  margin-top: 150px;
  right: 0;
  opacity: 0;
  height: 300px;
  width: 150px;
  border: none;
  transition: 1s;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
#slide2 i {
  font-size: 50px;
}
#slide2:hover {
  display: block;
  opacity: 1;
  transition: 0.2s;
  background-color: rgba(0, 0, 0, 0.8);
}